Repository iamafansev/awesome-ssr-apollo-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yaml:

"*.{js,ts,tsx}":
  - eslint --fix
  - prettier --write
"*.{html,json,yml}":
  - "prettier --write"

Add environments
  .env.development.example
  .env.example
  .env.production.example
  .gitignore
  codegen.js
  codegen.yml
  package.json
  src/@types/window/index.d.ts
  src/client/components/MainLayout/MainLayout.tsx
  src/client/containers/Home/locationsQuery.graphql-generated.ts
  src/client/index.tsx
  src/client/types/graphql.tsx
  src/ssr/renderApp.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Disable compile js
  tsconfig.json
Due: prettier --write

Rename app title
  package.json
  src/client/locales/ru/app.json
  src/client/locales/ru/home.json
Due: prettier --write

Add ci workflow
  .github/workflows/ci.yml
  .lintstagedrc.yml
  package.json
Due: prettier --write

Update Readme.md
  README.md
Due: none

Dockerize app
  .dockerignore
  .lintstagedrc.yaml
  Dockerfile
  package.json
  public/locales/ru/about.json
  public/locales/ru/app.json
  public/locales/ru/home.json
  src/@types/react-i18next/index.d.ts
  src/i18n.ts
  src/ssr/server.tsx
Due: eslint --fix, prettier --write

Sort out dependencies
  README.md
  package.json
Due: prettier --write

Update razzle.config.js
  razzle.config.js
Due: eslint --fix, prettier --write

Create vercel.json
  vercel.json
Due: prettier --write

Update vercel.json
  vercel.json
Due: prettier --write

Update server.tsx
  src/ssr/server.tsx
Due: eslint --fix, prettier --write

react-refresh
  razzle.config.js
Due: eslint --fix, prettier --write
